@import url("https://fonts.googleapis.com/css?family=VT323");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

@keyframes slideLeftToRight {
  0% {
    transform: translateX(0%); }
  10% {
    transform: translateX(2%); }
  20% {
    transform: translateX(4%); }
  30% {
    transform: translateX(6%); }
  40% {
    transform: translateX(8%); }
  50% {
    transform: translateX(10%); }
  60% {
    transform: translateX(8%); }
  70% {
    transform: translateX(6%); }
  80% {
    transform: translateX(4%); }
  90% {
    transform: translateX(2%); }
  100% {
    transform: translateX(0%); } }

.mp {
  font-family: 'VT323', monospace;
  width: 40%;
  height: auto;
  background-color: #000;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  padding: 1.5rem 0rem; }
  .mp__options {
    width: 100%;
    height: 7rem;
    background: dodgerblue;
    transition: all .3s ease;
    overflow: hidden;
    display: flex; }
    .mp__options-toggle {
      width: 100%;
      text-align: right;
      padding: 0rem 1rem; }
      .mp__options-toggle-icon {
        width: 2rem;
        height: 2rem;
        fill: #fff;
        cursor: pointer; }
    .mp__options-upload-btn, .mp__options-theme-select {
      transition: all .2s;
      border: 0;
      padding: 1rem;
      text-align: left;
      cursor: pointer;
      margin: 1rem 0;
      background: transparent;
      color: #fff;
      border: 1px solid #fff;
      text-decoration: none;
      margin-left: 1rem; }
  .mp__details {
    display: grid;
    grid-template-rows: max-content 4rem min-content;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 1rem;
    height: 40%;
    padding: 1.5rem; }
  .mp__playing {
    display: flex;
    flex-flow: column;
    justify-content: center; }
    .mp__playing-now {
      word-wrap: break-word;
      animation: slideLeftToRight 2s linear infinite; }
  .mp__controls {
    margin-top: 1.5rem;
    display: flex; }
    .mp__controls-btn {
      height: 5rem;
      width: 5rem;
      border: 0;
      border-radius: 50%;
      padding: 1.5rem 0rem;
      cursor: pointer;
      transition: all .2s; }
      .mp__controls-btn:not(:first-child) {
        margin-left: 1rem; }
      .mp__controls-btn:hover {
        background: #fff;
        color: #000;
        border: 0.15rem solid #567da5;
        transform: translateY(-0.2rem); }
      .mp__controls-btn:active {
        transform: translateY(0.5rem); }
    .mp__controls-icon {
      width: 100%;
      height: 100%;
      fill: #000; }
  .mp__song-duration {
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem; }
    .mp__song-duration-bar {
      grid-row: 2 / -1;
      grid-column: 1 / -1;
      align-self: center;
      height: 80%;
      width: 100%;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      border-radius: 1rem;
      background-color: gray;
      cursor: pointer;
      overflow: hidden; }
      .mp__song-duration-bar:focus {
        outline: none; }
    .mp__song-duration-end {
      justify-self: end; }
  .mp__volume {
    grid-column: 1 / -1;
    margin-top: 1rem;
    display: flex; }
    .mp__volume-slider {
      width: 90%;
      background-color: gray;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      cursor: pointer;
      overflow: hidden; }
    .mp__volume-value {
      margin: -0.2rem 1rem;
      font-size: 2rem;
      font-weight: bold; }
    .mp__volume-icon {
      width: 3rem;
      height: 2rem;
      fill: #fff; }
  .mp__playlist {
    height: 60%;
    padding: 3rem; }
    .mp__playlist-items {
      height: 100%;
      width: 100%;
      overflow: auto;
      padding-right: 1rem; }
    .mp__playlist-btn {
      transition: all .2s;
      width: 100%;
      border: 0;
      padding: 1rem;
      text-align: left;
      cursor: pointer;
      margin: 1rem 0;
      background: transparent;
      color: #fff;
      border: 1px solid #fff; }
      .mp__playlist-btn:hover {
        background: #fff;
        color: #000;
        border: 1px solid #000;
        transform: translateY(-0.5rem); }
      .mp__playlist-btn:active {
        transform: translateY(1rem); }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 100%;
  width: 2rem;
  background: #fff;
  box-shadow: -100vw 0 0 100vw dodgerblue; }

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  height: 100%;
  width: 2rem;
  background: #fff; }

input[type="range"]::-ms-thumb {
  -ms-appearance: none;
  height: 100%;
  width: 0;
  background: #fff; }

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type="range"]::-ms-track {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type="range"]::-ms-fill-lower {
  background: rgba(30, 144, 255, 0.4);
  height: 100%; }

input[type="range"]::-moz-range-progress {
  background: rgba(30, 144, 255, 0.4);
  height: 100%; }

input[type="range"]::-ms-tooltip {
  display: none; }
