@import url("https://fonts.googleapis.com/css?family=VT323");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.mp {
  font-family: 'VT323', monospace;
  width: 25%;
  height: 70%;
  background-color: #000;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem; }
