/*

    0 - 600px: Phones
    600 - 900px: Tablets Portrait
    900 - 1350px: Tablet Landscape
    1350 - 1800+ : Normal Styles
    1800+ Big desktop

*/
@import url("https://fonts.googleapis.com/css?family=VT323");
@import url("https://fonts.googleapis.com/css?family=Righteous");
@import url("https://fonts.googleapis.com/css?family=Teko");
@import url("https://fonts.googleapis.com/css?family=Audiowide");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Audiowide', cursive;
  font-size: 62.5%; }

@keyframes slideLeftToRight {
  0% {
    transform: translateX(0%); }
  10% {
    transform: translateX(2%); }
  20% {
    transform: translateX(4%); }
  30% {
    transform: translateX(6%); }
  40% {
    transform: translateX(8%); }
  50% {
    transform: translateX(10%); }
  60% {
    transform: translateX(8%); }
  70% {
    transform: translateX(6%); }
  80% {
    transform: translateX(4%); }
  90% {
    transform: translateX(2%); }
  100% {
    transform: translateX(0%); } }

.alert {
  text-align: left;
  display: inline-block;
  font-weight: bold;
  font-style: italic;
  font-size: 1.6rem;
  margin: 0; }
  @media only screen and (max-width: 37.5em) {
    .alert {
      font-size: 1.2rem; } }
  .alert-danger {
    background: rgba(252, 85, 118, 0.9);
    color: crimson; }
  .alert-success {
    background: lightgreen;
    color: darkgreen; }

/*

    0 - 600px: Phones
    600 - 900px: Tablets Portrait
    900 - 1350px: Tablet Landscape
    1350 - 1800+ : Normal Styles
    1800+ Big desktop

*/
.mp__options-label:hover, .mp__options-upload-btn:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  transform: translateY(-0.5rem); }

.mp {
  width: 50%;
  height: 98%;
  background-color: #000;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  padding-top: 1.5rem;
  transition: all 1.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  overflow: hidden;
  box-shadow: .8rem 1rem 1rem #aaa;
  border-radius: 5px; }
  @media only screen and (max-width: 84.375em) {
    .mp {
      width: 75%;
      height: 100%; } }
  @media only screen and (max-width: 56.25em) {
    .mp {
      width: 100%;
      height: 100%; } }
  .mp__options {
    width: 100%;
    height: 0rem;
    background-color: #000;
    transition: all .3s ease;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    position: fixed;
    padding: 0rem;
    z-index: 1; }
    .mp__options > h3 {
      align-self: center;
      padding: .5rem; }
    .mp__options > h4 {
      margin: 1rem;
      padding: 0 1rem;
      text-align: center; }
    .mp__options-form {
      margin: 0 auto;
      width: 50%;
      text-align: center; }
    .mp__options-toggle {
      width: 100%;
      display: flex;
      padding: 0rem 1rem 0rem 0rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4; }
      .mp__options-toggle-icon {
        width: 2rem;
        height: 2rem;
        fill: #fff;
        cursor: pointer;
        transition: all .1s;
        margin-left: auto; }
        .mp__options-toggle-icon:active {
          transform: translateX(-0.2rem); }
    .mp__options-upload-btn, .mp__options-theme-select {
      font-family: 'Audiowide', cursive;
      font-size: 1.8rem;
      transition: all .2s;
      border: 0;
      padding: 1rem;
      text-align: left;
      cursor: pointer;
      margin: 2rem auto;
      background: transparent;
      color: #fff;
      border: 1px solid #fff;
      text-decoration: none;
      width: 50%; }
    .mp__options-label {
      transition: all .2s;
      border: 0;
      padding: 1rem;
      text-align: left;
      cursor: pointer;
      margin: 2rem auto;
      background: transparent;
      color: #fff;
      border: 1px solid #fff;
      text-decoration: none;
      width: 50%;
      display: inline-block; }
      .mp__options-label-caption {
        font-weight: bold;
        font-style: italic;
        color: #fff; }
    .mp__options-theme-select > option {
      background: #000; }
    .mp__options-upload-btn--hidden {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1; }
    .mp__options-upload-btn:active {
      transform: translateY(1rem); }
    .mp__options-voice-commands {
      text-align: center;
      width: 100%;
      height: auto;
      margin: 0 auto; }
  .mp__details {
    display: grid;
    grid-template-rows: max-content 4rem min-content;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 1rem;
    height: 40%;
    padding: 1.5rem; }
    @media only screen and (max-width: 37.5em) {
      .mp__details {
        height: 50%;
        grid-template-rows: max-content 4rem 7rem;
        grid-column-gap: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .mp-art {
      height: 10px;
      width: 20px; } }
  .mp__playing {
    display: flex;
    flex-flow: column;
    justify-content: center; }
    .mp__playing-now {
      word-break: break-all;
      animation: slideLeftToRight 2s linear infinite; }
      @media only screen and (max-width: 37.5em) {
        .mp__playing-now {
          width: 150px;
          text-overflow: ellipsis;
          /* Required for text-overflow to do anything */
          white-space: nowrap;
          overflow: hidden; } }
  .mp__controls {
    margin-top: 1.5rem;
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .mp__controls {
        display: grid;
        grid-template-columns: repeat(3, min-content);
        grid-template-rows: repeat(2, max-content);
        align-items: center;
        grid-gap: 1rem; } }
    .mp__controls-btn {
      justify-self: center;
      height: 5rem;
      width: 5rem;
      border: 0;
      border-radius: 50%;
      padding: 1.5rem 0rem;
      cursor: pointer;
      transition: all .2s;
      background: #fff; }
      @media only screen and (max-width: 37.5em) {
        .mp__controls-btn {
          height: 4.5rem;
          width: 4.5rem; } }
      .mp__controls-btn:focus {
        outline: none; }
      .mp__controls-btn:not(:first-child) {
        margin-left: 1rem; }
      @media only screen and (max-width: 37.5em) {
        .mp__controls-btn:not(:first-child) {
          margin-left: 0rem; } }
      .mp__controls-btn:hover {
        background: #aaa;
        color: #000;
        border: 0.15rem solid #567da5;
        transform: translateY(-0.2rem); }
      .mp__controls-btn:active {
        transform: translateY(0.2rem);
        outline: none; }
    .mp__controls-icon {
      width: 100%;
      height: 100%;
      fill: #000; }
    .mp__controls-check {
      opacity: 0;
      visibility: hidden; }
      .mp__controls-check:focus {
        outline: none; }
  .mp__song-duration {
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem; }
    .mp__song-duration-bar {
      grid-row: 2 / -1;
      grid-column: 1 / -1;
      align-self: center;
      height: 80%;
      width: 95%;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      border-radius: 1rem;
      background-color: gray;
      cursor: pointer;
      overflow: hidden; }
      .mp__song-duration-bar:focus {
        outline: none; }
    .mp__song-duration-end {
      justify-self: end;
      margin-right: 1rem; }
  .mp__volume {
    grid-column: 1 / -1;
    margin-top: 1rem;
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .mp__volume {
        height: 35%; } }
    .mp__volume-slider {
      width: 90%;
      background-color: gray;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      cursor: pointer;
      overflow: hidden; }
    .mp__volume-value {
      margin: -0.2rem 1rem;
      font-size: 2rem;
      font-weight: bold; }
    .mp__volume-icon {
      width: 3rem;
      height: 2rem;
      fill: #fff; }
  .mp__playlist {
    position: relative;
    height: 60%;
    padding: 3rem;
    padding-bottom: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .mp__playlist {
        height: 50%;
        overflow-y: hidden; } }
    .mp__playlist-items {
      height: 100%;
      width: 100%;
      overflow: auto;
      padding-right: 1rem;
      word-break: break-all; }
      @media only screen and (max-width: 37.5em) {
        .mp__playlist-items {
          overflow-x: hidden; } }
    .mp__playlist-btn {
      font-family: 'Audiowide', cursive;
      transition: all .2s;
      width: 100%;
      border: 0;
      padding: 1rem;
      text-align: left;
      cursor: pointer;
      margin: 1rem 0;
      background: transparent;
      color: #fff;
      border: 1px solid #fff; }
      .mp__playlist-btn--selected {
        background: #567da5; }
      .mp__playlist-btn:hover {
        background: rgba(255, 255, 255, 0.877);
        color: #000;
        border: 1px solid #000;
        transform: translateY(-0.5rem); }
      .mp__playlist-btn:active {
        transform: translateY(1rem); }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 100%;
  width: 2rem;
  background: #fff;
  box-shadow: -100vw 0 0 100vw dodgerblue; }

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  height: 100%;
  width: 2rem;
  background: #fff; }

input[type="range"]::-ms-thumb {
  -ms-appearance: none;
  height: 100%;
  width: 0;
  background: #fff; }

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type="range"]::-ms-track {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type="range"]::-ms-fill-lower {
  background: rgba(30, 144, 255, 0.4);
  height: 100%; }

input[type="range"]::-moz-range-progress {
  background: rgba(30, 144, 255, 0.4);
  height: 100%; }

input[type="range"]::-ms-tooltip {
  display: none; }

.mp--black-red {
  background: rgba(0, 0, 0, 0.9);
  border: 3px double crimson;
  color: crimson; }
  .mp--black-red .mp__playlist-btn {
    color: crimson;
    font-weight: bold; }
    .mp--black-red .mp__playlist-btn--selected, .mp--black-red .mp__playlist-btn:hover {
      background-color: rgba(220, 20, 60, 0.5); }
  .mp--black-red .mp__options {
    background-color: #000;
    color: crimson; }
    .mp--black-red .mp__options > h3 {
      color: #fff; }
    .mp--black-red .mp__options-label-caption {
      color: #fff; }
  .mp--black-red .mp__controls-btn {
    background: rgba(54, 53, 53, 0.835);
    box-shadow: .5rem .2rem 1rem crimson;
    transition: all .2s; }
  .mp--black-red input[type="range"]::-ms-fill-lower {
    background: rgba(220, 20, 60, 0.85); }
  .mp--black-red input[type="range"]::-moz-range-progress {
    background: rgba(220, 20, 60, 0.85); }
  .mp--black-red input[type="range"]::-webkit-slider-thumb {
    box-shadow: -100vw 0 0 100vw rgba(220, 20, 60, 0.85); }

.mp--materialistic {
  background: #fff;
  color: #fff;
  font-weight: bolder;
  border-radius: 0; }
  .mp--materialistic * {
    font-family: 'Righteous', cursive; }
  .mp--materialistic .mp__details {
    background: rgba(62, 80, 181, 0.9); }
  .mp--materialistic .mp__playlist {
    color: #000; }
    .mp--materialistic .mp__playlist-btn {
      color: #000;
      font-weight: bold; }
      .mp--materialistic .mp__playlist-btn--selected, .mp--materialistic .mp__playlist-btn:hover {
        color: #fff;
        border: 0;
        background: rgba(62, 80, 181, 0.85); }
    .mp--materialistic .mp__playlist-items {
      color: #000; }
  .mp--materialistic .mp__options {
    background-color: #3e50b5; }
    .mp--materialistic .mp__options > h3 {
      color: #000; }
    .mp--materialistic .mp__options-toggle {
      background: rgba(62, 80, 181, 0.8); }
    .mp--materialistic .mp__options-theme-select, .mp--materialistic .mp__options-upload-btn {
      font-size: 1.3rem; }
    .mp--materialistic .mp__options-theme-select > * {
      background: rgba(62, 80, 181, 0.8); }
  .mp--materialistic .mp__controls-btn {
    background: rgba(255, 255, 255, 0.835);
    transition: all .2s; }
  .mp--materialistic input[type="range"]::-ms-fill-lower {
    background: rgba(0, 0, 139, 0.4); }
  .mp--materialistic input[type="range"]::-moz-range-progress {
    background: rgba(0, 0, 139, 0.4); }
  .mp--materialistic input[type="range"]::-webkit-slider-thumb {
    box-shadow: -100vw 0 0 100vw darkblue; }

.mp--light {
  background: #fff;
  color: #000;
  font-weight: bolder;
  border-radius: 0;
  letter-spacing: .3rem;
  border: .2px solid #ccc; }
  .mp--light * {
    font-family: 'Teko', sans-serif; }
  .mp--light .mp__details {
    background: rgba(223, 222, 222, 0.979); }
  .mp--light .mp__playlist {
    color: #000; }
    .mp--light .mp__playlist-btn {
      color: #000;
      font-size: 1.5rem;
      letter-spacing: .2rem;
      font-weight: bold; }
      .mp--light .mp__playlist-btn--selected, .mp--light .mp__playlist-btn:hover {
        color: #fff;
        border: 0;
        background: rgba(0, 0, 0, 0.7); }
    .mp--light .mp__playlist-items {
      color: #000; }
  .mp--light .mp__options {
    background-color: rgba(223, 222, 222, 0.979); }
    .mp--light .mp__options * {
      color: #000; }
    .mp--light .mp__options > h3 {
      color: #000; }
    .mp--light .mp__options-toggle {
      background: #000; }
    .mp--light .mp__options-theme-select, .mp--light .mp__options-upload-btn {
      font-size: 1.9rem;
      letter-spacing: .3rem;
      background: #ccc; }
    .mp--light .mp__options-theme-select > * {
      background: #fff; }
  .mp--light .mp__song-duration-bar {
    height: 10px; }
  .mp--light .mp__controls-btn {
    background: rgba(255, 255, 255, 0.835);
    transition: all .2s; }
  .mp--light input[type="range"]::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.7); }
  .mp--light input[type="range"]::-moz-range-progress {
    background: rgba(0, 0, 0, 0.7); }
  .mp--light input[type="range"]::-webkit-slider-thumb {
    box-shadow: -100vw 0 0 100vw rgba(0, 0, 0, 0.7); }
