.mp--dark {
    background-color: red;

    #{$mp}__playlist {
        background-color: orangered;
    }
}

.mp--light {
    background-color: rgba(30, 144, 255, .7);
    color: darkblue;
    border: 2px solid darkblue;
}

.mp--materialistic {
    background-color: lightcoral;
}

.mp--wild {
    background-color: palevioletred;
}

